@media screen and (max-width: 1367px) {
    .container {
        width: 1366px;
    } 
}
@media screen and (max-width: 1281px) {
    .container {
        width: 1280px;
    }
    .author__text {
        width: 50%;
    }
}
@media screen and (max-width: 1025px) {
    .container {
        width: 1024px;
    } 
    .header__title {
        font-size: 45px;
    }
    .description__item {
        width: 45%;
    }
    .about { 
        padding-bottom: 100px;
    }
    .about__cards {
        flex-wrap: wrap;
    }
    .about__card {
        width: 40%;
    }
    [mytitle]:hover:after {
        content: '';
        display: none;
    }
    .reviews__card {
        max-width: 40%;
    }
}
@media screen and (max-width: 769px) {
    .container {
        width: 768px;
    } 
    .header__title {
        font-size: 35px;
        padding: 0 30px;
    }
    .forwhom__card {
        width: 40%;
    }
    .about__card {
        width: 45%;
    }
    .learning__inner {
        flex-wrap: wrap;
    }
    .learning__text {
        padding: 15px;
    }
    .learning__icon {
        order: 0;
    }
    .learning__text-box, .learning__icon {
        width: 80%;
    }
    .author__inner {
        flex-wrap: wrap;
    }
    .author__img, .author__text {
        width: 80%;
    }
    .author__img {
        order: 1;
    }
    .reviews__inner {
        flex-wrap: wrap;
    }
    .reviews__card {
        max-width: 80%;
        margin-bottom: 30px;
    }
    .buy__inner {
        flex-wrap: wrap;
    }
    .buy__text {
        margin-bottom: 30px;
    }
    .buy__text, .buy__form {
        max-width: 80%;
    }
    .buy__form {
        width: 320px;
    }
}
@media screen and (max-width: 376px) {
    .container {
        width: 375px;
    } 
    .section__title {
        font-size: 30px;
    }
    .header__title {
        font-size: 30px;
        line-height: 40px;
    }
    .description__item {
        width: 80%;
    }
    .forwhom__card {
        width: 80%;
    }
    .about__card {
        width: 80%;
    }
    .about__card h3 {
        margin-top: 15px;
    }
    .author__img img {
        max-width: 320px;
    }
    .footer__icons a {
        width: 30px;
        height: 30px;
    }
}